.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 0;
  background: black;
  border: solid 1px white;
  grid-row: 1;
  grid-column: 2;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__edit-button  {
    width: 18px;
    height: 18px;
  }
}