.popup__container {
  width: 430px;
  background: white;
  color: black;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .popup__container {
    width: 282px;
  }
}