.profile__about {
  margin-left: 30px;
  display: grid;
  grid-template-columns: max-content min-content max-content;
  row-gap: 9px;
  column-gap: 18px;
}

@media screen and (max-width: 767px) {
  .profile__about {
    margin-left: 0;
    margin-top: 26px;
    row-gap: 14px;
    column-gap: 10px;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
}