.profile__about {
  display: grid;
  grid-template-columns: max-content min-content;
  row-gap: 16px;
  column-gap: 18px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__about {
    row-gap: 14px;
    column-gap: 10px;
    justify-items: center;
  }
}