.header__logo {
  width: 142px;
  height: 33px;
  object-fit: contain;
  margin-bottom: 41px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: calc((103.74/320)*100vw);
    margin-left: calc((27/320)*100vw);
  }
}