.popup__exit-button {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url(../../../images/CloseIcon.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__exit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .popup__exit-button  {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}