.profile__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    flex-direction: column;
    row-gap: 26px;
    width: 100%;
  }
}